<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Formulario HTML a PDF</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        /* Cambiar la fuente a Arial o una fuente sans-serif */
      }
    </style>
  </head>
  <body>
    {% csrf_token %}
    <table border="1" style="border-collapse: collapse; width: 100%; height: 69px;">
      <tbody>
        <tr style="height: 63px;">
          <td style="width: 64.8672%; height: 63px; text-align: center;">
            {% if entidad_id == '1' %}
              C.S.M.C. BARRANCO
            {% elif entidad_id == '2' %}
              C.S. GAUDENCIO BERNASCONI*
            {% elif entidad_id == '3' %}
              C.S. ALICIA LASTRES DE LA TORR
            {% elif entidad_id == '4' %}
              C.S. GUSTAVO LANATTA LUJAN
            {% elif entidad_id == '5' %}
              C.M.I. VIRGEN DEL CARMEN
            {% elif entidad_id == '6' %}
              P.S. ARMATAMBO
            {% elif entidad_id == '7' %}
              C.E. SAN PEDRO DE LOS CHORRILLOS
            {% elif entidad_id == '8' %}
              C.M.I. BUENOS AIRES DE VILLA
            {% elif entidad_id == '9' %}
              C.S. DELICIAS DE VILLA
            {% elif entidad_id == '10' %}
              C.S. SAN GENARO DE VILLA
            {% elif entidad_id == '11' %}
              P.S. VISTA ALEGRE DE VILLA
            {% elif entidad_id == '12' %}
              P.S. SANTA ISABEL DE VILLA
            {% elif entidad_id == '13' %}
              C.S. TUPAC AMARU DE VILLA
            {% elif entidad_id == '14' %}
              P.S. SAN JUAN DE LA LIBERTAD
            {% elif entidad_id == '15' %}
              P.S. MATEO PUMACAHUA
            {% elif entidad_id == '16' %}
              P.S. SANTA TERESA DE CHORRILLOS
            {% elif entidad_id == '17' %}
              P.S. VILLA VENTURO
            {% elif entidad_id == '18' %}
              P.S. NUEVA CALEDONIA
            {% elif entidad_id == '19' %}
              P.S. LOS INCAS
            {% elif entidad_id == '20' %}
              P.S. DEFENSORES DE LIMA
            {% elif entidad_id == '21' %}
              C.S.M.C. SAN SEBASTIAN
            {% elif entidad_id == '22' %}
              C.S.M.C. COMUNITARIO NANCY REYES BAHAMONETE
            {% elif entidad_id == '23' %}
              C.S. SANTIAGO DE SURCO
            {% elif entidad_id == '24' %}
              P.S. SAN CARLOS
            {% elif entidad_id == '25' %}
              P.S. SAN ROQUE
            {% elif entidad_id == '26' %}
              P.S. LOS VIÑEDOS DE SURCO
            {% elif entidad_id == '27' %}
              P.S. LAS FLORES
            {% elif entidad_id == '28' %}
              P.S. LAS DUNAS
            {% elif entidad_id == '29' %}
              C.S. SAN JUAN DE MIRAFLORES
            {% elif entidad_id == '30' %}
              P.S. DESIDERIO MOSCOSO CASTILLO
            {% elif entidad_id == '31' %}
              P.S. VILLA SOLIDARIDAD
            {% elif entidad_id == '32' %}
              P.S. VALLE SHARON
            {% elif entidad_id == '33' %}
              P.S. PAMPAS DE SAN JUAN
            {% elif entidad_id == '34' %}
              C.S. TREBOL AZUL
            {% elif entidad_id == '35' %}
              P.S. HEROES DEL PACIFICO
            {% elif entidad_id == '36' %}
              P.S. PARAISO
            {% elif entidad_id == '37' %}
              P.S. SANTA URSULA
            {% elif entidad_id == '38' %}
              P.S. RICARDO PALMA
            {% elif entidad_id == '39' %}
              P.S. LADERAS DE VILLA
            {% elif entidad_id == '40' %}
              C.S. VILLA SAN LUIS
            {% elif entidad_id == '41' %}
              C.S. LEONOR SAAVEDRA
            {% elif entidad_id == '42' %}
              C.S. JESUS PODEROSO
            {% elif entidad_id == '43' %}
              P.S. EL BRILLANTE
            {% elif entidad_id == '44' %}
              P.S. 6 DE JULIO
            {% elif entidad_id == '45' %}
              C.M.I. MANUEL BARRETO
            {% elif entidad_id == '46' %}
              P.S. VIRGEN DEL BUEN PASO
            {% elif entidad_id == '47' %}
              P.S. SAN FRANCISCO DE LA CRUZ
            {% elif entidad_id == '48' %}
              P.S. MARIANNE PREUSS DE STARK
            {% elif entidad_id == '49' %}
              C.M.I. OLLANTAY
            {% elif entidad_id == '50' %}
              P.S. LA RINCONADA
            {% elif entidad_id == '51' %}
              P.S. LEONCIO PRADO
            {% elif entidad_id == '52' %}
              P.S. JOSE M. ARGUEDAS
            {% elif entidad_id == '53' %}
              P.S. 5 DE MAYO
            {% elif entidad_id == '54' %}
              C.M.I. VILLA MARIA DEL TRIUNFO
            {% elif entidad_id == '55' %}
              P.S. 12 DE JUNIO
            {% elif entidad_id == '56' %}
              P.S. SANTA ROSA DE BELEN
            {% elif entidad_id == '57' %}
              C.M.I. JOSE CARLOS MARIATEGUI
            {% elif entidad_id == '58' %}
              P.S. VILLA LIMATAMBO
            {% elif entidad_id == '59' %}
              P.S. JUAN CARLOS SOBERON
            {% elif entidad_id == '60' %}
              P.S. BUENOS AIRES
            {% elif entidad_id == '61' %}
              P.S. VALLE ALTO
            {% elif entidad_id == '62' %}
              P.S. PARAISO ALTO
            {% elif entidad_id == '63' %}
              C.S.M.C. 12 DE NOVIEMBRE
            {% elif entidad_id == '64' %}
              P.S. VALLE BAJO
            {% elif entidad_id == '65' %}
              C.M.I. JOSE GALVEZ
            {% elif entidad_id == '66' %}
              P.S. MODULO I
            {% elif entidad_id == '67' %}
              P.S. NUEVO PROGRESO
            {% elif entidad_id == '68' %}
              P.S. CIUDAD DE GOSEN
            {% elif entidad_id == '69' %}
              C.S. NUEVA ESPERANZA
            {% elif entidad_id == '70' %}
              P.S. VIRGEN DE LOURDES
            {% elif entidad_id == '71' %}
              P.S. CESAR VALLEJO II
            {% elif entidad_id == '72' %}
              P.S. NUEVA ESPERANZA ALTA
            {% elif entidad_id == '73' %}
              C.M.I. DANIEL A. CARRION
            {% elif entidad_id == '74' %}
              P.S. TORRES DE MELGAR
            {% elif entidad_id == '75' %}
              P.S. MICAELA BASTIDAS
            {% elif entidad_id == '76' %}
              C.M.I. TABLADA DE LURIN
            {% elif entidad_id == '77' %}
              P.S. SANTA ROSA DE LAS CONCHITAS
            {% elif entidad_id == '78' %}
              C.S.M.C. SAN GABRIEL ALTO
            {% elif entidad_id == '79' %}
              *** CAM. TAYTA WASI
            {% elif entidad_id == '80' %}
              P.S. DAVID GUERRERO DUARTE
            {% elif entidad_id == '81' %}
              C.S.M.C. MOSEÑOR JOSE RAMON GURRUCHAGA
            {% elif entidad_id == '82' %}
              C.M.I. SAN JOSE
            {% elif entidad_id == '83' %}
              P.S. SEÑOR DE LOS MILAGROS
            {% elif entidad_id == '84' %}
              P.S LLANAVILLA
            {% elif entidad_id == '85' %}
              C.S.M.C. EL SOL DE VILLA
            {% elif entidad_id == '86' %}
              C.S.M.C. VILLA EL SALVADOR
            {% elif entidad_id == '87' %}
              C.S. SAN MARTIN DE PORRES
            {% elif entidad_id == '88' %}
              P.S. VIRGEN DE LA ASUNCION
            {% elif entidad_id == '89' %}
              P.S. SAGRADA FAMILIA
            {% elif entidad_id == '90' %}
              C.M.I. JUAN PABLO II
            {% elif entidad_id == '91' %}
              P.S. FERNANDO LUYO SIERRA
            {% elif entidad_id == '92' %}
              P.S. CRISTO SALVADOR
            {% elif entidad_id == '93' %}
              P.S. SARITA COLONIA
            {% elif entidad_id == '94' %}
              P.S. OASIS DE VILLA
            {% elif entidad_id == '95' %}
              P.S. SASBI
            {% elif entidad_id == '96' %}
              C.M.I. CESAR LOPEZ SILVA
            {% elif entidad_id == '97' %}
              P.S. PRINCIPE DE ASTURIAS
            {% elif entidad_id == '98' %}
              P.S. PACHACAMAC
            {% elif entidad_id == '99' %}
              P.S. EDILBERTO RAMOS
            {% elif entidad_id == '100' %}
              C.S. HEROES DEL CENEPA
            {% elif entidad_id == '101' %}
              P.S. BRISAS DE PACHACAMAC
            {% elif entidad_id == '102' %}
              C.M.I. LURIN
            {% elif entidad_id == '103' %}
              P.S. BUENA VISTA
            {% elif entidad_id == '104' %}
              CLAS JULIO C TELLO
            {% elif entidad_id == '105' %}
              C.S. VILLA ALEJANDRO
            {% elif entidad_id == '106' %}
              P.S. MARTHA MILAGROS BAJA
            {% elif entidad_id == '107' %}
              C.S. NUEVO LURIN KM. 40 (CLAS)
            {% elif entidad_id == '108' %}
              C.S.M.C. LA MEDALLA MILAGROSA
            {% elif entidad_id == '109' %}
              C.S.M.C. SANTA ROSA DE MANCHAY
            {% elif entidad_id == '110' %}
              C.S. PACHACAMAC
            {% elif entidad_id == '111' %}
              P.S.VILLA LIBERTAD (CLAS)
            {% elif entidad_id == '112' %}
              P.S. PAMPA GRANDE
            {% elif entidad_id == '113' %}
              P.S. QUEBRADA VERDE
            {% elif entidad_id == '114' %}
              P.S. GUAYABO
            {% elif entidad_id == '115' %}
              P.S. PICA PIEDRA
            {% elif entidad_id == '116' %}
              P.S. CARDAL
            {% elif entidad_id == '117' %}
              P.S. MANCHAY ALTO
            {% elif entidad_id == '118' %}
              P.S. TAMBO INGA
            {% elif entidad_id == '119' %}
              C.S. PORTADA DE MANCHAY
            {% elif entidad_id == '120' %}
              P.S. HUERTOS DE MANCHAY
            {% elif entidad_id == '121' %}
              C.S. CLAS JUAN PABLO II
            {% elif entidad_id == '122' %}
              P.S. COLLANAC
            {% elif entidad_id == '123' %}
              P.S. PARQUES DE MANCHAY
            {% elif entidad_id == '124' %}
              C.S. SAN BARTOLO
            {% elif entidad_id == '125' %}
              C.S. PUCUSANA
            {% elif entidad_id == '126' %}
              C.S. BENJAMIN DOIG
            {% elif entidad_id == '127' %}
              P.S. PUNTA HERMOSA
            {% elif entidad_id == '128' %}
              C.S. PUNTA NEGRA
            {% elif entidad_id == '129' %}
              P.S. VILLA MERCEDES
            {% elif entidad_id == '131' %}
              C.S.M.C VIRGEN DE LA MERCED
            {% elif entidad_id == '132' %}
              C.S.M.C CRL. SAN. WILELMO PEDRO ZORRILLA HUAMAN
            {% elif entidad_id == '134' %}
              CSMC BALNEARIOS DEL SUR
            {% elif entidad_id == '135' %}
              PS.BELLA ESMERALDA
            {% elif entidad_id == '136' %}
              CSMC RICARDO PALMA
            {% elif entidad_id == '137' %}
              CSMC SAN PEDRO DE LURIN
            {% endif %}<br />inserte dirección aqui
          </td>
          <td style="width: 35.1328%; text-align: center; height: 69px;" rowspan="2">
            <b>HOJA DE RECLAMACION EN SALUD</b><br /><br />inserte codigo aqui
          </td>
        </tr>
        <tr style="height: 6px;">
          <td style="width: 64.8672%; height: 6px;">
            <p></p>
            <p id="fecha-hora" name="fecha-hora" style="text-align: center;"></p>
          </td>
        </tr>
      </tbody>
    </table>
    <br /><br />

    <table border="1" style="border-collapse: collapse; width: 100%;">
      <tbody>
        <tr>
          <td style="width: 100%; background-color: lightblue; ">
            <div class="panel-heading">
              <div class="panel-title">
                <b>1. IDENTIFICACIÓN DEL USUARIO O TERCERO LEGITIMADO</b>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%; height: 72px;">
      <tbody>
        <tr style="height: 36px;">
          <td style="width: 25%; height: 36px; background-color: lightgray;font-size: 14px;">
            <strong>NOMBRE O RAZÓN SOCIAL:</strong>
          </td>
          <td style="width: 25%; height: 36px;font-size: 14px;">{{ nombres_usuario }} {{ apellido_paterno_usuario }} {{ apellido_materno_usuario }}</td>
          <td style="width: 23.2301%; height: 36px;background-color: lightgray;font-size: 14px;">
            <strong>EMAIL:</strong>
          </td>
          <td style="width: 26.7699%; height: 36px;font-size: 14px;">{{ correo_usuario }}</td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 25%; height: 18px;background-color: lightgray;font-size: 14px;">
            <strong>DOMICILIO:</strong>
          </td>
          <td style="width: 25%; height: 18px;font-size: 14px;">{{ direccion_usuario }}, {{ distrito_usuario }}</td>
          <td style="width: 23.2301%; height: 18px;background-color: lightgray;font-size: 14px;">
            <strong>TELÉFONO:</strong>
          </td>
          <td style="width: 26.7699%; height: 18px;font-size: 14px;">{{ telefono_usuario }}</td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 25%; height: 18px;background-color: lightgray;font-size: 14px;">
            <strong>DOCUMENTO DE IDENTIDAD:</strong>
          </td>
          <td style="width: 25%; height: 18px;font-size: 14px;">
            {% if tipo_documento_usuario == '1' %}
              DNI
            {% elif tipo_documento_usuario == '2' %}
              Carné de extranjería
            {% elif tipo_documento_usuario == '3' %}
              Pasaporte
            {% else %}

            {% endif %}
          </td>
          <td style="width: 23.2301%; height: 18px;background-color: lightgray;font-size: 14px;">
            <strong>NÚMERO DE DOCUMENTO:</strong>
          </td>
          <td style="width: 26.7699%; height: 18px;font-size: 14px;">{{ numero_documento_usuario }}</td>
        </tr>
      </tbody>
    </table>
    <br /><br />
    <table border="1" style="border-collapse: collapse; width: 100%;">
      <tbody>
        <tr>
          <td style="width: 100%; background-color: lightblue;">
            <div class="panel-heading">
              <div class="panel-title">
                <b>2. IDENTIFICACION DE QUIEN PRESENTA EL RECLAMO (En caso de ser el usuario afectado no es necesario su llenado)</b>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="1" style="border-collapse: collapse; width: 100%; height: 72px;">
      <tbody>
        <tr style="height: 36px;">
          <td style="width: 25%; height: 36px;background-color: lightgray;font-size: 14px;">
            <strong>NOMBRE O RAZÓN SOCIAL:</strong>
          </td>
          <td style="width: 25%; height: 36px;font-size: 14px;">{{ nombres_presenta }} {{ apellido_paterno_presenta }} {{ apellido_materno_presenta }}</td>
          <td style="width: 23.2301%; height: 36px;background-color: lightgray;font-size: 14px;">
            <strong>EMAIL:</strong>
          </td>
          <td style="width: 26.7699%; height: 36px;font-size: 14px;">{{ correo_presenta }}</td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 25%; height: 18px;background-color: lightgray;font-size: 14px;">
            <strong>DOMICILIO:</strong>
          </td>
          <td style="width: 25%; height: 18px;font-size: 14px;">{{ domicilio_presenta }}, {{ distrito_presenta }}</td>
          <td style="width: 23.2301%; height: 18px;background-color: lightgray;font-size: 14px;">
            <strong>TELÉFONO:</strong>
          </td>
          <td style="width: 26.7699%; height: 18px;font-size: 14px;">{{ celular_presenta }}</td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 25%; height: 18px;background-color: lightgray;font-size: 14px;">
            <strong>DOCUMENTO DE IDENTIDAD:</strong>
          </td>
          <td style="width: 25%; height: 18px;font-size: 14px;">
            {% if numero_documento_presenta == '1' %}
              DNI
            {% elif numero_documento_presenta == '2' %}
              Carné de extranjería
            {% elif numero_documento_presenta == '3' %}
              Pasaporte
            {% else %}

            {% endif %}
          </td>
          <td style="width: 23.2301%; height: 18px;background-color: lightgray; font-size: 14px;">
            <strong>NÚMERO DE DOCUMENTO:</strong>
          </td>
          <td style="width: 26.7699%; height: 18px;font-size: 14px;">{{ numero_documento_presenta }}</td>
        </tr>
      </tbody>
    </table>
    <br /><br />
    <table border="1" style="border-collapse: collapse; width: 100%; height: 36px;">
      <tbody>
        <tr style="height: 18px;">
          <td style="width: 100%; height: 18px;background-color: lightblue;">
            <b>3. DETALLE DEL RECLAMO</b>
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 100%; height: 45px;font-size: 14px;">{{ detalle_reclamo }}</td>
        </tr>
      </tbody>
    </table>
    <br /><br />
    <table border="1" style="border-collapse: collapse; width: 100%; height: 36px;">
      <tbody>
        <tr style="height: 18px;">
          <td style="width: 100%; height: 18px; background-color: lightblue;">
            <b>4. AUTORIZACIÓN DE NOTIFICACIÓN DEL RESULTADO DEL RECLAMO</b>
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 100%; height: 18px;font-size: 14px;">
            {% if autorizacion_notificacion_correo == '0' %}
              Sí autorizo que se me notifique el resultado del reclamo al email consignado
            {% elif autorizacion_notificacion_correo == '1' %}
              No autorizo que se me notifique el resultado del reclamo al email consignado
            {% else %}
              null
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table><br /><br /><br /><br />
    <footer>
      <p id="piepagina1" align="center" style="font-size: 10px;">
        <b>Las IAFAS, IPRESS o UGIPRESS deben atender el reclamo en un plazo de 30 días hábiles.</b>
      </p>
      <p id="piepagina2" align="center" style="font-size: 10px;">"Estimado Usuario: Usted puede presentar su denuncia ante SUSALUD ante hechos o actos que vulneren o pudieran vulnerar el derecho a la salud, o cuando no le hayan brindado un servicio, prestación o coberturas solicitadas o recibidas de las IAFAS O IPRESS o que dependen de las UGIPRESS pública, privada o mixtas, también ante la negativa de atención de su reclamo, irregularidad en su tramitación o disconformidad con el resultado del mismo o hacer uso de los mecanismos alternativos de solución de controversias ante el Centro de Conciliación y Arbitraje - CECONAR de SUSALUD".</p>
    </footer>

    <script>
      // Obtener el elemento donde mostraremos la fecha y hora
      var fechaHoraElemento = document.getElementById('fecha-hora')
      
      // Función para obtener la fecha y hora actual
      function obtenerFechaHoraActual() {
        var fechaHora = new Date()
        //var opciones = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'  };
        fechaHoraElemento.textContent = fechaHora.toLocaleString('es')
      }
      
      // Llamar a la función al cargar la página
      obtenerFechaHoraActual()
      
      // Actualizar la fecha y hora cada segundo (opcional)
      setInterval(obtenerFechaHoraActual, 1000)
    </script>
  </body>
</html>
